<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="http://setTheBaseURLInProjectSettings.com/SystemList.html" />
	<meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="./css/all.min.css">
	
    <title>SystemList</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body>

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc none full-width-bloc l-bloc " id="bloc-0">
	<div class="container bloc-lg bloc-sm-lg">
		<div class="row">
			<div class="col-12 col-md-2 col-lg-2">
				<a target="_blank"><img src="img/CSIR-Logo-With-Tagline-Seleceted-Bilingual-01.png" class="img-fluid float-lg-none" alt="CSIR Logo-With-Tagline-Seleceted-Bilingual-01" /></a>
			</div>
			<div class="col-12 offset-lg--1 col-lg-8 col-md-8">
				<h3 class="mg-md text-lg-center tc-black text-md-center">
					<strong>वैज्ञानिक तथा औद्योगिक अनुसंधान परिषद्</strong><br>
				</h3>
				<h3 class="mg-md text-lg-center tc-black h3-style text-md-center">
					<strong>Council of Scientific and Industrial Research</strong>
				</h3>
				<h3 class="mg-md text-lg-center tc-black text-md-center">
					<strong>विज्ञान और प्रौद्योगिकी मंत्रालय</strong><br>
				</h3>
				<h3 class="mg-md text-lg-center tc-black h3-4-style text-md-center">
					<strong>Ministry of Science and Technology, Govt. of India</strong><br>
				</h3>
			</div>
			<div class="col-12 col-lg-2 col-md-2">
				<a target="_blank"><img src="img/G20%20theme%20and%20logo.png" class="img-fluid img-style float-lg-right" alt="G20%20theme%20and%20logo" /></a>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->

<!-- Bloc Group -->

<!-- Bloc Group -->
<div class="bloc-group">

<!-- bloc-3 -->
<div class="bloc bloc-tile-3 none bgc-true-blue full-width-bloc d-bloc" id="bloc-3">
	<div class="container bloc-md-lg">
		<div class="row no-gutters">
			<div class="col-12">
				<div class="text-center">
					<div class="btn-group btn-dropdown">
						<a href="#" class="btn dropdown-toggle   btn-white btn-xl" data-toggle="dropdown" aria-expanded="false">File Diary System</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="filediarysystem.html" class="dropdown-item a-block">Add File</a>
							</li>
							<li>
								<a href="searchfileform.html" class="dropdown-item a-block">Search File</a>
							</li>
							
							<li>
								<a href="index.html" class="dropdown-item a-block">Report</a>
							</li>

							<li>
								<a href="index.html" class="dropdown-item a-block">List Page</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-3 END -->

<!-- bloc-4 -->
<div class="bloc bloc-tile-3 none bgc-true-blue full-width-bloc d-bloc" id="bloc-4">
	<div class="container bloc-lg bloc-md-lg">
		<div class="row no-gutters">
			<div class="col-12">
				<div class="text-center">
					<div class="btn-group btn-dropdown">
						<a href="#" class="btn dropdown-toggle   btn-white btn-xl" data-toggle="dropdown" aria-expanded="false">Letter Diary System</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="letterdiarysystem.html" class="dropdown-item a-block">Add Letter</a>
							</li>
							<li>
								<a href="searchletterform.html" class="dropdown-item a-block">Search Letter</a>
							</li>
							
							<li>
								<a href="index.html" class="dropdown-item a-block">Report</a>
							</li>

							<li>
								<a href="index.html" class="dropdown-item a-block">List Page</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->

<!-- bloc-5 -->
<div class="bloc bloc-tile-3 bgc-true-blue d-bloc" id="bloc-5">
	<div class="container bloc-md-lg">
		<div class="row no-gutters">
			<div class="col-12">
				<div class="text-center">
					<div class="btn-group btn-dropdown">
						<a href="#" class="btn dropdown-toggle   btn-white btn-xl" data-toggle="dropdown" aria-expanded="false">Officers List</a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="index.html" class="dropdown-item a-block">View</a>
							</li>
							<!-- <li>
								<a href="index.html" class="dropdown-item a-block">Add New</a>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->
</div>
<!-- Bloc Group END -->

<!-- bloc-6 -->
<div class="bloc bgc-true-blue d-bloc" id="bloc-6">
	<div class="container bloc-lg bloc-xxl-lg">
		<div class="row">
			<div class="col">
			</div>
		</div>
	</div>
</div>
<!-- bloc-6 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></a>
<!-- ScrollToTop Button END-->


</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="./js/jquery-3.5.1.js"></script>
<script src="./js/bootstrap.bundle.js"></script>
<script src="./js/blocs.js"></script><!-- Additional JS END -->


</body>
</html>
